.container {
  text-align: center;
  padding: var(--padding-regular);
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  width: 300px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padding-regular);
  margin-bottom: 20px;
  max-width: 320px;
  text-align: center;
}

.timerDisplay {
  font-size: var(--font-size-large);
  padding: var(--padding-regular);
  margin-bottom: var(--padding-regular);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border-radius: var(--border-radius);
  user-select: none;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-on-surface);
  font-size: 1rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--color-primary-dark);
}

.button:disabled {
  background-color: var(--color-disabled);
  cursor: default;
  color: var(--text-color);
}
